.Main-container {
  display: flex;
  flex-direction: row;
  height: 35em;
  background: url(./bg-intro-desktop.png);

  background-color: red;
  padding-top: 50px;
  opacity: 0.7;
  font-family: Poppins;
  font-size: large;
  margin: 80px;
}
.First-section {
  width: 400px;
  padding-left: 50px;
  padding-top: 200px;
  padding-right: 100px;
  color: white;
}
.First-section p {
  font-size: 16px;
  font-weight: 500;
}
h1 {
  font-weight: 700;
}
.box-header p {
  border: 10px solid hsl(248, 32%, 49%);
  background-color: hsl(248, 32%, 49%);
  color: white;
  border-radius: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 16px;
  box-shadow: 2px 10px 5px rgb(12, 9, 9, 0.2);
}
.form-container {
  border: 2px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 40px;
  box-shadow: 5px 10px 10px;
}
form {
  margin-top: 20px;
}
input {
  width: 95%;
  box-sizing: border-box;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 992px;) {
  .Main-container {
    color: blueviolet;
  }
}
